<!-- templates/projects_tasks.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects and Tasks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="add-button">
        <a href="{{ url_for('inserir') }}" class="button">Adicionar Novo Projeto</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>Project ID</th>
                <th>Project Name</th>
                <th>Project Begin Date</th>
                <th>Project End Date</th>
                <th>Task Name</th>
                <th>Task Priority</th>
                <th>Task Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for project_id, project_name, project_begin_date,project_end_game, task_name, task_priority, task_status in projects_tasks %}
            <tr>
                <td>{{ project_id }}</td>
                <td>{{ project_name }}</td>
                <td>{{ project_begin_date }}</td>
                <td>{{ project_end_game }}</td>
                <td>{{ task_name }}</td>
                <td>{{ task_priority }}</td>
                <td>{{ task_status }}</td>
                <td>
                    <a href="{{ url_for('atualizar', id=project_id) }}" class="button">Editar</a>
                    <a href="{{ url_for('remover', id=project_id) }}" class="button" onclick="return confirm('Tem certeza que deseja remover este projeto?');">Remover</a>
                </td>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
